.chack-box1{
    height: 335px;
    background: rgb(146, 130, 130);
    padding: 8px;
}
.calclutar{
    margin-left: 30px;
}
.coach-div{
    justify-content: space-between;
}
#div5{
    height: 330px;
}